*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* 
.image{
    opacity: 0.2;
} */

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0px;
    margin: auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;

}


.form-container span{
    font-weight: bold;
    /* padding: 0 10px; */
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}


.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    /* padding: 0 20px; */
    position: absolute;
    top: 130px;

    transition: transform 1s;
}


form input{
    width: 80%;
    height: 30px;
    margin: 10px 0px;
    padding: 0px 10px;
    border: 2px solid black;
    border-radius: 25px;
    outline: none;

}


form .btn{
    width: 50%;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    text-align: center;
    font-size: 20px;
    height: 40px;
    background-color: aqua;
    border-radius: 20px;
}

form .btn:focus{
    outline: none;
}



#LoginForm{
    left: -300px;

}

#RegForm
{
    left: 0px;
}


form a{
    font-size: 12px;
    text-decoration: none;
}

#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.account-page{
    margin-top: 150px;
    margin-left: 100px;
    align-items: center;

}

/* #form_head
{
    margin-left: 800px;
} */
